<h1>About</h1>

<p>
	I created Class Roster to learn my students' names in a quick, simple,
	and fun way. With over 200 students, who I teach in four different schools
	across three New York City boroughs, this app has helped me tremendously and
	I hope will help you, too!
</p>
<p>
	Let me know if you have any questions, comments, or new features to add.
</p>
<p>
	<strong>
		Special shoutout to East Harlem Scholars Academy staff and students for
		being so awesome, helpful, and the first ever class roster!
	</strong>
</p>
<p>
	Enjoy,
	<br>
	Danelson
</p>
<p>
	<i class="fa fa-envelope"></i>
	<%= mail_to "danelsonedu@gmail.com",
							"danelsonedu@gmail.com",
							subject: "Class Roster" %>
	<br>
	<i class="fa fa-linkedin"></i>
	<%= link_to "linkedin.com/in/dan3lson",
							"http://www.linkedin.com/in/dan3lson" %>
</p>
