<section id="header">
	<div class="card card-inverse card-primary text-xs-center">
		<div class="card-block">
			<h1 class="card-title" id="school-name">ESHA</h1>
			<p class="card-text">
				Choose a section to practice your students' names.
			</p>
		</div>
	</div>
</section>
<section id="sections" class="text-xs-center">
	<div class="row">
		<div class="col-sm-4">
			<div class="card card-block">
				<h3 class="card-title">5 Van Pelt</h3>
				<p class="card-text">
					<i class="fa fa-list-ol"></i> Students: 15
					<br>
					<i class="fa fa-line-chart"></i> Mastery: 69%
				</p>
				<button type="button" class="btn btn-primary practice-btn">Practice</button>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card card-block">
				<h3 class="card-title">5 Navarro</h3>
				<p class="card-text">
					<i class="fa fa-list-ol"></i> Students: 24
					<br>
					<i class="fa fa-line-chart"></i> Mastery: 3%
				</p>
				<button type="button" class="btn btn-primary practice-btn">Practice</button>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card card-block">
				<h3 class="card-title">Famous People</h3>
				<p class="card-text">
					<i class="fa fa-list-ol"></i> Students: 25
					<br>
					<i class="fa fa-line-chart"></i> Mastery: 23%
				</p>
				<button type="button" class="btn btn-primary practice-btn">Practice</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="card card-block">
				<h3 class="card-title">6 Pietri</h3>
				<p class="card-text">
					<i class="fa fa-list-ol"></i> Students: 19
					<br>
					<i class="fa fa-line-chart"></i> Mastery: 9%
				</p>
				<button type="button" class="btn btn-primary practice-btn">Practice</button>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card card-block">
				<h3 class="card-title">6 Trillin</h3>
				<p class="card-text">
					<i class="fa fa-list-ol"></i> Students: 30
					<br>
					<i class="fa fa-line-chart"></i> Mastery: 99%
				</p>
				<button type="button" class="btn btn-primary practice-btn">Practice</button>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card card-block">
				<h3 class="card-title">6 Wright</h3>
				<p class="card-text">
					<i class="fa fa-list-ol"></i> Students: 10
					<br>
					<i class="fa fa-line-chart"></i> Mastery: 39%
				</p>
				<button type="button" class="btn btn-primary practice-btn">Practice</button>
			</div>
		</div>
	</div>
</section>
<section id="gamezone"></section>
