<div class="col-sm-8 offset-sm-2 text-xs-center">
	<h1 class="display-1">Practice makes perfect.</h1>
	<p class="lead">
		Getting to know your students starts with learning their names.
	</p>
	<%= link_to "Start now",
							org_path(Org.first),
							class: "btn btn-primary",
							role: "button" %>
	<%= link_to "Learn more",
							about_path,
							class: "btn btn-secondary",
							role: "button" %>
</div>
